canvas {
  margin: 3rem auto 0;
  display: block;
  -webkit-box-shadow: 0 0 10px 0 rgb(208, 208, 208);
  -moz-box-shadow: 0 0 10px 0 rgb(208, 208, 208);
  box-shadow: 0 0 10px 0 rgb(208, 208, 208);

}
